<h1>Flight Delay Stats</h1>
Username: <input type="text" name="usernamebox" value=""><br>
Password: <input type="text" name="passwordbox" value=""><br>
<%= link_to 'New User', new_user_path %><br>
<%= button_to 'Login', logintoaccount_users_url, method: :post %>