<%= form_for(@mainprogram) do |f| %>
  <% if @mainprogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mainprogram.errors.count, "error") %> prohibited this mainprogram from being saved:</h2>

      <ul>
      <% @mainprogram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
