<p id="notice"><%= notice %></p>

<h1>Listing Mainprograms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mainprograms.each do |mainprogram| %>
      <tr>
        <td><%= link_to 'Show', mainprogram %></td>
        <td><%= link_to 'Edit', edit_mainprogram_path(mainprogram) %></td>
        <td><%= link_to 'Destroy', mainprogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mainprogram', new_mainprogram_path %>
