<h1>Flight Delay Stats</h1> 
<%= link_to 'Logout', login_path %>
<p></p>
<h3>Select A Month:</h3> 
<%= button_to 'January', jan_mainprograms_url, method: :post %>
<%= button_to 'Febuary', feb_mainprograms_url, method: :post %>
<p></p>
<h3>Month Stats:</h3> 
<img src="<%= @pie_chart %>"/>
<p></p>
Carrier: Plane boarding was delayed after plane had landed<br>
Weather: Weather prevented plane takeoff/landing<br>
NAS: Delays imposed by the National Airspace System for various possible reasons<br>
Security: Security threat delayed takeoff<br>
Late Plane: Plane landed behind schedule<br>